.vscode

.console_history
banned-ips.json
banned-players.json
commands.yml
eula.txt
help.yml
paper.yml-README.txt
permissions.yml
usercache.json
version_history.json
whitelist.json
ops.json
*.jar

/cache
/libraries
/logs
/versions
/world
/world_nether
/world_the_end

/plugins/AuraSkills/*
!/plugins/AuraSkills/abilities-config.yml
!/plugins/AuraSkills/loot
!/plugins/AuraSkills/sources
!/plugins/AuraSkills/rewards
!/plugins/AuraSkills/*.yml
/plugins/bstats
/plugins/Chunky
/plugins/dynmap
!/plugins/dynmap/worlds.txt
/plugins/excellentenchants/lang
/plugins/excellentenchants/menu
/plugins/LevelledMobs/messages.yml
/plugins/nexengine
