
.console_history
banned-ips.json
banned-players.json
commands.yml
eula.txt
help.yml
paper.yml-README.txt
permissions.yml
usercache.json
version_history.json
whitelist.json
ops.json
*.jar

/cache
/libraries
/logs
/versions
/world
/world_nether
/world_the_end

/plugins/AureliumSkills/
!/plugins/AureliumSkills/abilities-config.yml
!/plugins/AureliumSkills/config.yml
!/plugins/AureliumSkills/sources-config.yml
/plugins/bstats
/plugins/Chunky
/plugins/dynmap
!/plugins/dynmap/worlds.txt
/plugins/excellentenchants/lang
/plugins/excellentenchants/menu
/plugins/LevelledMobs/messages.yml
/plugins/nexengine
